.frame {
	background: rgb(255 255 255 / 6%);
	border-radius: 24px;
	height: 100%;
	isolation: isolate;
	overflow: hidden;
	position: relative;
	// aspect-ratio: 1.2;
}

.image {
	object-fit: cover;
	// opacity: 0;
	// transform: scale(1.03);
	transition: opacity .2s ease, transform .4s ease;
}
